:root {
  --ifm-color-primary: #1f6f5a;
  --ifm-color-primary-dark: #1b624f;
  --ifm-color-primary-darker: #195c4b;
  --ifm-color-primary-darkest: #154c3e;
  --ifm-color-primary-light: #237c65;
  --ifm-color-primary-lighter: #258269;
  --ifm-color-primary-lightest: #2a9478;
}
